*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    gap: 30px;
    background-color: #141414;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-topo{
    width: 100%;
    background-color: #38827a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: #588ceb;
}
.container-topo h2, a{
    color: #f0f0f0;
}
.box-expositor{
    width: 600px;
    height: 300px;
    border-radius: 15px;
    background-color: #38827a;
    box-shadow: 0 0 10px 10px #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    margin: 0 30px 0 30px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #141414;
}
img{
    width: 88%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #1e3c41;
}
.container-rodape{
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: #38827a;
    margin: 0 auto;
}
.container-rodape p{
    color: #030a35;
    font-weight: 900;
}