*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
}
.container-topo{
    width: 100%;
    background-color: #38827a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    color: #f0f0f0;
}
.container-topo a{
    text-decoration: none;
    color: #f0f0f0;
}
.container-topo a:hover{
    color: #141414;
}
.container-diplomas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.box-expositor{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: #38827a;
    box-shadow: 0px 0px 10px 10px #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 450px;
    height: 280px;
    border-radius: 15px;
}
.container-rodape{
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: #38827a;
    margin-top: 20px;
}
.container-rodape p{
    color: #030a35;
    font-weight: 900;
}